* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.logo {
    color: lightgray;
}

.menu {
    font-size: 25px;
}

.container {
    position: relative;
    z-index: 1;
    height: 900px;
    margin-top: 20px;
    width: 100%;
    background: #e0e6ec;
}
.container .shape {
    position: absolute;
    z-index: 2;
    right: 0;
    margin: 40px 30px 0 0;
    background: aquamarine;
    border-radius: 20px;
    width: 713px;
    height: 520px;
}

.container .image img {
    position: absolute;
    z-index: 3;
    width: 893px;
    height: 602px;
    right: 0;
    margin: 100px 100px 0 0;
}

.container .box {
    position: absolute;
    z-index: 4;
    width: 459px;
    height: 430px;
    background: darkblue;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}

.container .box h2 {
    color: white;
    font-size: 90px;
    padding: 20px;
}

.container .box button {
    padding: 5px 20px;
    margin-left: 30px;
    background-color: darkblue;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
}

.container .box button:hover {
    background-color: white;
    color: black;
}