* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.logo {
    color: lightgray;
}

.menu {
    font-size: 25px;
}

.container {
    position: relative;
    z-index: 1;
    height: 900px;
    margin-top: 20px;
    width: 100%;
    background: #e0e6ec;
}
.container .shape {
    position: absolute;
    z-index: 2;
    right: 0;
    margin: 40px 30px 0 0;
    background: aquamarine;
    border-radius: 20px;
    width: 713px;
    height: 520px;
    box-shadow: 4px 4px 5px #575454;
}

.container .image img {
    position: absolute;
    z-index: 3;
    width: 893px;
    height: 602px;
    right: 0;
    margin: 100px 100px 0 0;
    border-radius: 20px;
    box-shadow: 4px 4px 5px #575454;
}

.container .box {
    position: absolute;
    z-index: 4;
    width: 459px;
    height: 430px;
    background: darkblue;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px #575454;
}

.container .box h2 {
    color: white;
    font-size: 90px;
    padding: 20px;
}
.box button {
    margin: 0 0 0 20px;
}

.learn-more-btn {
    padding: 9px 42px;
    border-radius: 20px;
}

.learn-more-btn:hover {
    color: white;
    background: darkblue;
}

.research-strategy-design {
    display: flex;
    width: 100%;
    height: 540px;
}

.research {
    background-color: aquamarine;
    width: 33.33%;
}

.strategy {
    background-color: darkblue;
    color: white;
    width: 33.33%;
}

.design {
    background-color: aquamarine;
    width: 33.33%;
}

.content h4 {
    font-size: 60px;
    padding: 40px 0 20px 20px;
}

.content p {
    padding: 0px 0 20px 20px;
}

.content i {
    font-size: 60px;
    padding: 0px 0 30px 20px;
}

.block-three {
    width: 100%;
    height: 743px;
    background-color: rgb(35, 35, 99);
}

.block-three h4 {
    color: #fff;
    text-align: center;
    padding-top: 82px;
}

.block-three h2 {
    color: aquamarine;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    padding-top: 42px;
}

.text {
    display: grid;
    place-items: center;
    padding: 20px;
    width: 100%;
    color: #fff;
}
.text p {
    width: 841px;
    text-align: center;
    line-height: 1.8;
}

.card-item {
    display: flex;
    width: 100%;
    height: 273px;
    gap: 30px;
    padding: 53px 30px 0 30px;
}

.card {
    display: grid;
    place-items: center;
    width: 25%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #000;
}

.card i {
    background-color: rgb(151, 197, 182);
    border-radius: 50%;
    width: 86px;
    height: 87px;
    color: #f1f1f1;
    font-size: 52px;
    display: grid;
    place-items: center;
    text-align: center;
}

.card h5 {
    color: #575454;
}

.card button {
    border: none;
    font-size: 10px;

}

.card button:hover {
    color: red;
}

.block-four {
    background-color: #e0e6ec;
    width: 100%;
    height: 971px;
}

.block-four h2 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-top: 58px;
}
.block-four p {
    color: #000;
}

.block-four-grid {
    width: 100%;
    padding-top: 30px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 30px;
}

.column .items h5 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: lighter;
}

.column .items p {
    padding-top: 20px;
    font-size: 16px;
}

.btn {
    display: grid;
    place-items: center;
    padding-top: 200px;
}

.block-five {
    position: relative;
    z-index: 1;
    background: darkblue;
    width: 100%;
    height: 900px;
}

.half-box {
    position: absolute;
    z-index: 2;
    top: 0;
    background: #e0e6ec;
    width: 100%;
    height: 450px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.midle-box {
    position: absolute;
    z-index: 3;
    background: aquamarine;
    width: 677px;
    height: 594px;
    top: 225px;
    left: 270px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px #575454;
}

.block-five img {
    position: absolute;
    z-index: 4;
    width: 803px;
    height: 581px;
    top: 50px;
    left: 30px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px lightblue;
}

.content-box {
    position: absolute;
    z-index: 5;
    right: 40px;
    bottom: 130px;
    background: #fff;
    width: 596px;
    height: 458px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px #575454;
}

.content-box h2 {
    font-size: 55px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
}

.content-box p {
    padding-top: 20px;
    padding-left: 20px;
}

.content-box button {
    margin: 50px 0 0 20px;
}

.block-six {
    background: darkblue;
    width: 100%;
    height: 697px;
    display: grid;
    padding: 60px 20px;
    grid-template-columns: 50% 50%;
}

.block-six .column-one {
    background-image: url("images/4.jpg");
    border-radius: 20px;
    box-shadow: 4px 4px 5px #575454;
}

.block-six .column-two {
    padding-left: 20px;
    color: #fff;
}

.block-six .column-two h5 {
    font-size: 20px;
    padding-top: 40px;
    font-weight: lighter;
}

.block-six .column-two h2 {
    font-size: 48px;
    font-weight: bold;
}

.block-six .column-two span {
    color: aquamarine;
}

.block-six .column-two button {
    margin: 60px 0 0 0;
}

.block-seven {
    position: relative;
    z-index: 1;
    background-image: url("images/4.jpg");
    width: 100%;
    height: 700px;
}

.block-seven .info {
    position: absolute;
    z-index: 2;
    width: 471px;
    height: 531px;
    background: #fff;
    top: 84px;
    bottom: 60px;
    left: 30px;
    display: grid;
    place-items: center;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px #575454;
}

.block-seven .info img {
    width: 83px;
    height: 83px;
    border-radius: 50%;
}


.block-seven .info p {
    text-align: center;
    font-size: 17px;
}

.block-eight {
    width: 100%;
    height: 717px;
    background: rgb(120, 194, 169);
}

.block-eight-content {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 717px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
}

.block-eight-content .column-one h6 {
    font-size: 36px;
    text-align: center;
}

.block-eight-content .column-one form {
    color: white;
    padding-top: 30px;
}

.block-eight-content .column-two {
    background: #fff;
    border-radius: 20px;
    box-shadow: 4px 4px 5px #575454;
}

footer {
    background: #000;
    padding: 50px;
    color: #fff;
    text-align: center;
}